#field {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #c7f4cd;
  margin: auto;
  margin-top: 20px;
}

#player {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;

}

.final_message {
  position: absolute;
  top: 40%;
  color: red;
  text-align: center;
  font-size: 72px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#score {
  position: absolute;
  top: 20px;
  left: 20px;
  color: blue;
}

#tree-count {
  position: absolute;
  top: 20px;
  left: 200px;
  color: blue;
  z-index: 100;
}

#resign {
  margin: auto;
}