#field {
	position: relative;
	width: 800px;
	height: 600px;
	background-color: green;
	margin: auto;
	margin-top: 20px;
}

#player {
	position: absolute;
	width: 32px;
	height: 32px;
	background-color: red;
	top: 0;
	left: 0;

}

.orange-tree {
	width: 32px;
	height: 32px;
	background-color: brown;
}