<% if @message %>
 <h3><%= @message %></h3>
<% end %>

<form action="/users/login" method="post">
  <input type="text" placeholder="Enter User Name" name="username">
  <input type="password" placeholder="Enter Password" name="password">
  <input type="submit" value="login">
</form>