<% if @message %>
 <h3><%= @message %></h3>
<% end %>

<form action="/users" method="post">
  <input type="text" placeholder="Enter User Name" name="user[username]">
  <input type="password" placeholder="Enter Password" name="user[password]">
  <input type="submit" value="CREATE!">
</form>