<footer>
<div> Developed by the people, for the people</div>
  <ul class="developers">
    <li><a href="https://github.com/jannypie">Jan</a></li>
    <li><a href="https://github.com/marycbaylis">Mary</a></li>
    <li><a href="https://github.com/msomji">Maisam</a></li>
    <li><a href="https://github.com/secade">Chris</a></li>
  </ul>
</footer>