<div><h3>Instructions: User the arrow keys to move character and hit space to burn the orange trees down!</h3></div>
<div id="score"></div>
<div id="tree-count"></div>
<div id="field">
	<div id='player' class='<%= @user.id %>'></div>
</div>

<script src="/js/game.js"></script>