<div class='index-container'>
  <div class='index-title'>
    <h2>Welcome to the <span>ORANGE TREE BURNINATOR</span></h2>
  </div>

  <div class='index-body'>
    <div class='index-leaderboards'>
      <div class='ruby-img'></div>
      <table>
        <caption>Level 1 LEADER BOARD</caption>
        <tr>
          <th>User Name</th>
          <th>Lifetime</th>
        </tr>
        <% @level_1.each do |stat| %>
          <tr>
            <td><%= stat.user.username %> </td>
            <td><%= stat.time %></td>
          </tr>
        <% end %>
      </table>
      <div class='ruby-img'></div>
      <table>
        <caption>Level 2 LEADER BOARD</caption>
        <tr>
          <th>User Name</th>
          <th>Lifetime</th>
        </tr>
        <% @level_2.each do |stat| %>
          <tr>
            <td><%= stat.user.username %> </td>
            <td><%= stat.time %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>